*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}
.container{
    background-color: white;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 750px;
}
.input{
    margin-top: 20px;
    width: 75%;
    height: 40px;
    background: none;
}
.submit{
   margin-top: 30px;
   margin-left: 140px;
   padding: 9px 30px;
  background-color: lightslategray;
  border-radius: 30px;
}
.error{
    color: red;
    background: none;
    margin-left: 70px;
}